In [9]:
import pandas as pd
df=pd.read_csv('archive/train.csv')

In [10]:
df.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [11]:
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd

In [16]:
date_format = mdates.DateFormatter('%b %Y')
plt.figure(figsize=(20, 5))
sns.lineplot(x=df['date'], y=df['sales'],)
plt.xaxis.set_major_formatter(date_format)
plt.autofmt_xdate()
plt.show()

In [ ]:
plt.plot(df['sales'],df[])